body {
   background:#BFD7C1 url(../images/patronfondo.gif) repeat;
	padding-bottom:600px;
   color: #262626;
   font-family: Arial, sans-serif;
}
 
.login,
.campos{ 
   background-color: #87C489;
   width: 465px; 
   padding: 20px; 
   margin: 50px auto; 
   border-radius: 15px;   
   -moz-border-radius: 15px; 
   -webkit-border-radius: 15px; 
}

.condiciones{
    background-color: #87C489;
   width: 1000px; 
   padding: 20px; 
   margin: 50px auto; 
   border-radius: 15px; 
    margin-top: 100px;
     margin-bottom: -300px;
   -moz-border-radius: 15px; 
   -webkit-border-radius: 15px; 
}

#form { 
   background-color: #87C489;
   width: 900px; 
   padding: 20px; 
   margin: 50px auto; 
   border-radius: 15px;   
   -moz-border-radius: 15px; 
   -webkit-border-radius: 15px; 
}

#formReg { 
   background-color: #87C489;
   width: 900px; 
   padding: 20px; 
   margin: 50px auto; 
    margin-bottom: -300px;
   border-radius: 15px;   
   -moz-border-radius: 15px; 
   -webkit-border-radius: 15px; 
}

div {
  margin: .4em 0;
    text-align: center;
}
div label {
  width: 25%;
  float: left;
}
 
#formulario input:not([type="image"]),   
#formulario textarea:not(paypalimg){ 
   font-size: 15px; 
   margin-bottom: 2px;
   font-family: Arial, sans-serif;
   width: 450px;
   background: #fff;
   border: 0;
   -moz-border-radius: 5px; 
   -webkit-border-radius: 5px; 
   border-radius: 5px;
   margin-bottom: 25px; 
   padding: 5px; 
} 

#form #formulario input:not([type="image"]),   
#form #formulario textarea{ 
   width: 650px;
}
 
#formulario input[type="button"],
#formulario input[type="submit"]{ 
   font-size: 15px; 
   margin-bottom: 2px;
   font-family: Arial, sans-serif;
   width: 450px;
   background: #fff;
   border: 0;
   -moz-border-radius: 5px; 
   -webkit-border-radius: 5px; 
   border-radius: 5px;
   padding: 5px; 
} 

#formulario input:focus,   
#formulario textarea:focus{ 
   background-color: #E5E6E7;
} 
 
#formulario textarea { 
   height: 150px;   
} 
 
#formulario #clear,
#formulario #commit,
#formulario #register{ 
   width: 450px;   
   color: #BFD7C1; 
   border: none; 
   background-color: #6EA070;
} 

button{
    font-size: 15px; 
    color: #BFD7C1;
   margin-bottom: 2px;
   font-family: Arial, sans-serif;
   width: 450px;
    background-color: #6EA070;
   border: none;
   -moz-border-radius: 5px; 
   -webkit-border-radius: 5px; 
   border-radius: 5px;
   padding: 5px;
}

button:hover{
    background-color: #BFD7C1; 
   color: #6EA070;
}

button:focus{
    background-color: #E5E6E7;
}
 
#formulario #clear:hover,
#formulario #commit:hover,
#formulario #register:hover{ 
   background-color: #BFD7C1; 
   color: #6EA070;
}

#formulario input:invalid {
  background-color: #ffdddd;
}
  
#formulario input:valid {
  background-color: #ddffdd;
}

#mensajeError,
#mensajeInfo{
   width: 465px; 
   padding: 10px; 
   margin: 15px auto; 
   text-align: center;
    color:red;
}

ul{
	 list-style-type:none;	
}

#condiciones{
    color:blue;
    font-style: italic;
    text-decoration: underline;
}

#condiciones:hover{
    color: darkmagenta;
}

header{
    position:relative;
    text-align: right;
    padding-right: 25px;
    padding-top: 7px;
}
header img{
    margin-left: 1000px;
}

/*Estilo CSS de botones radio y checkbox sacado en parte de http://www.hongkiat.com */

label[for="free"],
label[for="pago"],
label[for="suscripcion"],
label[for="aceptoCondiciones"],
label[for="pais"],
label[for="fechaCon"],
label[for="dominio"]{  
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 25px;  
    margin-right: 15px;  
    font-size: 13px;  
}  

input[type=radio] {  
    display: none; 
}  

label[for="free"]:before,
label[for="pago"]:before,
label[for="suscripcion"]:before,
label[for="aceptoCondiciones"]:before,
label[for="pais"]:before,
label[for="fechaCon"]:before,
label[for="dominio"]:before{  
    content: "";  
    display: inline-block;  
    width: 16px;  
    height: 16px;  
    border-radius: 15px;   
   -moz-border-radius: 15px; 
   -webkit-border-radius: 15px; 
    margin-right: 10px;  
    position: absolute;  
    left: 0;  
    bottombottom: 1px;  
    background-color: #aaa;  
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8); 
}  

.radio label:before {  
    border-radius: 8px; 
}  

input[type=radio]:checked + label:before {  
    content: "\2022";  
    color: #f3f3f3;  
    font-size: 30px;  
    text-align: center;  
    line-height: 18px;  
} 

.radios{
    padding-left: 100px;
}

.radioReg{
    padding-left: 400px;
}

.checkbox{
    padding-left: 400px;
}

input[type=checkbox] {  
    display: none;  
}

.checkbox label:before {
	border-radius: 3px;
}

input[type=checkbox]:checked+label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
	color: #f3f3f3;
	text-align: center;
	line-height: 15px;
}

table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 375px;
	text-align: left;
	border-collapse: collapse;
}

table.tablaInforme {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 1000px;
	margin: 0 auto;
	margin-bottom:30px;
    text-align: center;
	border-collapse: collapse;
}

th {
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}

td {
	padding: 8px;
	background: #e8edff;
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}

tr:hover td {
	background: #d0dafd;
	color: #339;
}

.hidden{
    display:none;
}

.informe{
	background-color: #87C489;
	width: 1000px;
	text-align:center;
	padding: 20px;
	margin: 50px auto;
	border-radius: 15px;   
   -moz-border-radius: 15px; 
   -webkit-border-radius: 15px;
}

select{
	width:150px;
}