<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<servlet>
		<servlet-name>Registro</servlet-name>
		<servlet-class>es.upm.dit.isst.factGest.RegistroServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registro</servlet-name>
		<url-pattern>/registrar</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Logueado</servlet-name>
		<servlet-class>es.upm.dit.isst.factGest.LogueadoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logueado</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Confirmacion</servlet-name>
		<servlet-class>es.upm.dit.isst.factGest.ConfirmacionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Confirmacion</servlet-name>
		<url-pattern>/confirmacion</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Email</servlet-name>
		<servlet-class>es.upm.dit.isst.factGest.EmailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Email</servlet-name>
		<url-pattern>/emailconfirm</url-pattern>
	</servlet-mapping>
	
</web-app>
